.wrapper {
    background-color: var(--primary-lightOrange);
    height: 100vh;
}

/* left */
.left-star {
    position: absolute;
    top: 250px;
    left: 60px;
}

.text-logo {
    position: absolute;
    top: 640px;
    left: 120px;
}

/* center */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* center center */
.center-center{
    position: relative;
}

.title {
    margin-left: 34px;
}

.main-text {
    position: relative;
    font-size: 54px;
    font-weight: 900;
    z-index: 1;
}

.sub-text {
    position: relative;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 1;
}

.circle {
    position: absolute;
    top: 130px;
    margin-left: 35px;
}

.button {
    position: absolute;
    top: 535px;
    left: 118px;
}
.link:hover {
    box-shadow: 6px 7px 0px 3px rgba(0,0,0,1);
}

.link {
    padding: 12px 10px;
    border: 1px solid black;
    background-color: white;
    font-weight: 900;
    letter-spacing: 2px;
    color: black;
}

/* center left */
.center-left {
    position: relative;
    margin-top: 360px;
}

.door-text {
    position: relative;
    font-weight: 900;
    font-size: 32px;
    z-index: 1;
    display: inline;
}

.span {
    text-decoration: line-through;
}
.butterfly {
    height: 190px;
    float: left;
}
.butterfly-text {
    float: right;
}


.hover-text {
    display: none;
    position: relative;
    font-weight: 900;
    font-size: 28px;
    z-index: 1;
    color: white; 
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000,1px -1px 0 #000,-1px -1px 0 #000; 

    height: 200px;
    top: 10px;
}

.center-left:hover .hover-text,
.center-right:hover .hover-text {
    display: inline;
}
.center-left:hover .door-text,
.center-right:hover .caterpillar-text,
.center-right:hover .caterpillar {
    display: none;
}



.door {
    position: absolute;
    top: 35px;
    left: 90px;
}

/* center right */
.center-right {
    position: relative;
    margin-top: 400px;
}

.caterpillar-text {
    position: relative;
    z-index: 1;
    display: inline;
    font-weight: 900;
    font-size: 32px;
}

.caterpillar {
    position: absolute;
    top: 15px;
    left: -60px;
    display: inline;
    z-index: 1;
}

/* right */
.right-star {
    position: absolute;
    right: 30px;
    top: 100px;
}

.square {
    position: absolute;
    right: 0;
    top: 282px;
}

@media screen and (max-width: 375px) {

}

@media screen and (min-width: 375px) and (max-width: 700px) {

}